body{
    background-color: rgb(186, 208, 229);
    font-family: 'B612', sans-serif;
}
body ul{
    list-style-type: none;
}
header div{
    width:100%;
}
#header{
    max-width: 100%;
    height: auto;
    float: left;
}
#logo{
    width: 15%;
    position: absolute;
    top: 7px;
    left: 10px;
}
header nav ul{
    width: 90%;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    position: relative;
    top: -80px;
}
.nav:hover{
    transform: scale(1.2);
}
header nav li{
    float: right;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 80px;
    text-align: center;
    margin: 5px;
    height: 35px;
    padding-top: 15px;
    border-radius: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: blueviolet;
    color: white;
}
header nav li:hover {
    border-color: blueviolet;
    background-color: black;
    color: blueviolet;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Maven Pro', sans-serif;
}
/*body{
    background-color: rgb(186, 208, 229)
}

header div{
    width:100%;
}
#header{
    max-width: 100%;
    height: auto;
    float: left;
}
#logo{
    width: 15%;
    position: absolute;
    top: 7px;
    left: 10px;
}
*
header nav ul{
    width: 90%;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}
header nav li{
    float: right;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    width: 80px;
    text-align: center;
    margin: 5px;
    height: 35px;
    padding-top: 15px;
    border-radius: 25px;
}
*/
content article{
    width: 80%;
    margin: auto;
    margin-bottom: 90px;
}
content article h1{
    text-align: center;
}
content article p{
    text-indent: 50px;
}
section{
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
}
section h1{
    margin-top: 90px;
    text-align: center;
}

.github{
    width: 18px;
}

.linkedin{
    width: 20px;
}

section{
    width: 100%;
    align-items: center;
}

#firstBio{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section div ul{
    padding-inline-start: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 175px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 227, 231);
}

section div ul li{
    padding-inline-start: 0px;
    width: 100%;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 100%;
}

section div ul li img{
    padding-inline-start: 0px;
    margin-right: 3px;
}
.bioImage:hover {
    transform: scale(1.3);
}
.bio{
    text-align: left;
    width: 90%;
    font-family: 'B612', sans-serif;
    font-size: 75%;
    padding-left: 5px;
}

section div ul div{
    padding-left: 114px;
}


footer div img{
    max-width: 100%;
    height: auto;
}

footer p{
    width: 98%;
    font-family: 'Caveat Brush', cursive;
    color: white;
    font-size: 130%;
    text-align: right;
    position: absolute;
}