body{
    background-color: rgb(152, 178, 183)
}
header div{
    width:100%;
}
#header{
    max-width: 100%;
    height: auto;
    float: left;
}
#logo{
    width: 15%;
    position: absolute;
    top: 7px;
    left: 10px;
}

header nav ul{
    width: 90%;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}
header nav li{
    float: right;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    width: 80px;
    text-align: center;
    margin: 5px;
    height: 35px;
    padding-top: 15px;
    border-radius: 25px;
}
content ul {
    background-image: url('./img/post_it_note.jpg')
}

footer div img{
    max-width: 100%;
    height: auto;
}
