body{
    background-color: rgb(186, 208, 229);
    font-family: 'B612', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Maven Pro', sans-serif;
}
header div{
    width:100%;
}
#header{
    max-width: 100%;
    /*height: auto;*/
    float: left;
}
#logo{
    width: 15%;
    position: absolute;
    top: 7px;
    left: 10px;
}

header nav ul{
    width: 90%;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    position: relative;
    top: -80px;
}
header nav li{
    float: right;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 80px;
    text-align: center;
    margin: 5px;
    height: 35px;
    padding-top: 15px;
    border-radius: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: blueviolet;
    color: white;
}
header nav li:hover {
    border-color: blueviolet;
    background-color: black;
    color: blueviolet;
}
main{
    width: 90%;
    top: -60px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
main div{
    text-align: center;
}
main div p {
    text-align: left;
    float: left;
    display: inline-block;
    width: 500px;
    line-height: 30px;
}
main article{
    float: right;
    display: inline-block;
    width: 500px;

}
hr{
    width: 100%;
}

content h1{
    width: 100%;
    text-align: center;
}
content input{
    margin-left: 25px;
    width: 30px;
    height: 30px;
}
content ul {
    display: inline-block;
    width: 325px;
    height: 325px;
    background-image: url(/img/sticky-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 32px;
    margin-top: 5px;
    margin-right: 32px;
    margin-bottom: 5px;
    list-style-type: none;
    font-family: 'Caveat Brush', cursive;
    font-size: 130%;
    padding-inline-start: 0px;
}

content ul li {
    display: inline-block;
    vertical-align: left;  
    width: 280px;
    padding-right: 5px;
    margin-left: 25px;
    margin-top: 20px;
}
#buttonDiv{
    width: 100%;
    text-align: center;
}
button{
    width: 80px;
    height: 30px;
}
#summaryH1{
    width: 100%;
    text-align: center;
}
footer div img{
    max-width: 100%;
    height: auto;
}
